<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing infrastructure -->
	
	<!-- Call InitHikari on Startup -->
	<beans:bean id="InitHikari" class="com.zyntelligent.db.HikariCPDataSource" />

	<!--  Tasks Scheduled By Soft -->
	<!-- <beans:bean id="allPerfTask" class="zdairy.tasks.AllPerfTask" />
	<beans:bean id="notifyTask" class="zdairy.tasks.NotifyTask" />
	
	<task:scheduled-tasks scheduler="DairyScheduler">
		<task:scheduled ref="allPerfTask" method="startTask" cron="0 0 1 * * ?" />
		<task:scheduled ref="notifyTask" method="alertToday" cron="0 0 5 * * ?" />
		<task:scheduled ref="notifyTask" method="alertToday" cron="0 0 12 * * ?" />
		<task:scheduled ref="notifyTask" method="alertTomorrow" cron="0 0 22 * * ?" /> 
		<task:scheduled ref="notifyTask" method="movecalvingCow" cron="0 59 23 * * ?" />
		<task:scheduled ref="notifyTask" method="moveCalvesCow" cron="0 59 23 * * ?" />
	</task:scheduled-tasks>
	<task:scheduler id="DairyScheduler" pool-size="10" /> -->

	<!-- Enables the Spring MVC @Controller programming model -->
	<annotation-driven />
	<context:component-scan base-package="com.zyntelligent.controller" />

	<!-- Resolves views selected for rendering by @Controllers to .jsp resources 
		in the /WEB-INF/views directory -->
	<beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/views/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>

	<!-- setting maximum upload size -->
	<beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<beans:property name="maxUploadSize" value="10000000" />
	</beans:bean>

	<!-- mapping resources -->
	<resources mapping="/contents/**" location="/contents/" />
	
	<!-- Windows -->
	<!-- <resources mapping="/uploadFiles/**" location="file:///D:/test/uploadFiles/" />
	<resources mapping="/LedgerPic/**" location="file:///D:/test/LedgerPic/" />
	<resources mapping="/newsUploadFiles/**" location="file:///D:/test/newsUploadFiles/" />
	<resources mapping="/qrcodeFiles/**" location="file:///D:/test/qrcodeFiles/" />
	<resources mapping="/spermFiles/**" location="file:///D:/test/spermFiles/" />-->
	
	<!-- Linux -->
	<resources mapping="/uploadFiles/**" location="file:/usr/libexec/tomcat9-D/resources/uploadFiles/" />
	<resources mapping="/LedgerPic/**" location="file:/usr/libexec/tomcat9-D/resources/LedgerPic/" />
	<resources mapping="/newsUploadFiles/**" location="file:/usr/libexec/tomcat9-D/resources/newsUploadFiles/" />
	<resources mapping="/qrcodeFiles/**" location="file:/usr/libexec/tomcat9-D/resources/qrcodeFiles/" />
	<resources mapping="/spermFiles/**" location="file:/usr/libexec/tomcat9-D/resources/spermFiles/" />
	
	<!-- Linux Test Site -->
	<!-- <resources mapping="/uploadFiles/**" location="file:/usr/local/tomcat-01/resources/uploadFiles/" />
	<resources mapping="/LedgerPic/**" location="file:/usr/local/tomcat-01/resources/LedgerPic/" />
	<resources mapping="/newsUploadFiles/**" location="file:/usr/local/tomcat-01/resources/newsUploadFiles/" />
	<resources mapping="/qrcodeFiles/**" location="file:/usr/local/tomcat-01/resources/qrcodeFiles/" />
	<resources mapping="/spermFiles/**" location="file:/usr/local/tomcat-01/resources/spermFiles/" /> -->
	
	<resources mapping="/robots.txt" location="/robots.txt" />
	<resources mapping="/sitemap.xml" location="/sitemap.xml" />
	<resources mapping="/manifest.json" location="/manifest.json" />
	<resources mapping="/browserconfig.xml" location="/browserconfig.xml" />
	<resources mapping="/site.webmanifest" location="/site.webmanifest" />
	
</beans:beans>